body {
    margin-bottom: -2%;
    margin-left: 0%;
    margin-right: 0%;
}

/* Header */
header {
    background-color: rgb(68, 68, 69);
    height: 100px;
    margin-top: -1.1%;
}

header ul{
list-style-type: none;
color: white;
}

header li {
    display: inline-block;
    width: 10%;
    padding-inline-start: 12%;
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 18px ;
}

header img {
    padding-top: 2%;
    float: left;
    margin-left: 1%;
}

h1 {
    border: 3px black;
    background-color: black;
    color: white;
    text-align: center;
    width: 70%;
    margin-left: 200px;
   
}